<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css"/>
    <title>Home Page</title>
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/create">Register Form</a>
    </div>
    <div class="table-user-data">
        <h1 class="heading_user">List users</h1>
        
        <table id="users">
            
            <tr>
              <th>ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Address</th>
              <th>City</th>
              <th>Email</th>
              <th>Actions</th>
            </tr>
            <% listUser.forEach(function(user) { %>
            <tr>
              <td> <%= user.PersonID %> </td>
              <td> <%= user.FirstName %> </td>
              <td> <%= user.LastName %> </td>
              <td> <%= user.Address %> </td>
              <td> <%= user.City %> </td>
              <td> <%= user.Email %> </td>
              <td>
                <a href="/update/<%= user.PersonID %>">Edit</a>
                <a href="/delete/<%= user.PersonID %>">Delete</a>
              </td>
            </tr>
            <% }) %>
        </table>
        
    </div>
  </body>
</html>
